:root {
  font-size: 10px;
}

* {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-size: 1.6rem;
  text-decoration: none;
  list-style: none;
}

body {
  background-color: #eecf90;
  position: relative;
}

.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
}

.brand-title {
  font-size: 1.5rem;
  margin: 0.5rem;
}

.navbar-links ul {
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.navbar-links li {
  list-style: none;
}

.navbar-links li a {
  text-decoration: none;
  color: white;
  padding: 1rem;
  display: block;
}

.toggle-button {
  position: absolute;
  top: 0.75rem;
  right: 1rem;
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 30px;
  height: 21px;
}

.toggle-button .bar {
  height: 2px;
  width: 100%;
  background-color: white;
  border-radius: 10px;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-width: 1600px;
  margin: 0 auto;
}

section {
  padding: 5rem;
}

section.hero {
  margin: 2rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

section.hero h1 {
  margin: 2rem 0;
  font-size: 9rem;
  font-weight: 600;
}

section.hero p,
section.hero span {
  font-size: 3rem;
  font-weight: 300;
}

section.hero span {
  display: block;
  text-align: center;
}

section.hero .ctas {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 2rem 0 5rem;
}

section.hero .ctas a {
  margin: 2rem;
  padding: 1.5rem 3rem;
  border: 1px solid #322826;
  border-radius: 2.5rem;
  color: #322826;
  font-size: 2rem;
  font-weight: 300;
}

section.hero .ctas a:nth-child(2) {
  color: #eecf90;
  background-color: #322826;
  padding: 1.5rem 7rem;
}

section.hero img {
  width: 50%;
  position: relative;
  left: 4rem;
}

section.exhibitions {
  background-color: white;
  padding: 20rem 0;
  position: relative;
  top: -200px;
  z-index: -1;
}

section.exhibitions h2 {
  text-align: center;
  font-weight: 300;
  font-size: 4.5rem;
}

section.exhibitions .cards {
  margin: 6rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

section.exhibitions .cards .card {
  background-color: #f5f9fc;
  height: 20rem;
  border-radius: 5rem;
  width: 30rem;
  margin: 2rem;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 4rem;
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
}

section.exhibitions .cards .card:hover {
  background-color: #eecf90;
  -webkit-transform: scale(1.02) rotate(2deg);
          transform: scale(1.02) rotate(2deg);
  -webkit-box-shadow: 0px 0.9px 2.4px rgba(0, 0, 0, 0.011), 0px 2.3px 5.7px rgba(0, 0, 0, 0.009), 0px 4.7px 10.8px rgba(0, 0, 0, 0.009), 0px 9px 19.2px rgba(0, 0, 0, 0.016), 0px 18.8px 35.9px rgba(0, 0, 0, 0.034), 0px 57px 86px rgba(0, 0, 0, 0.07);
          box-shadow: 0px 0.9px 2.4px rgba(0, 0, 0, 0.011), 0px 2.3px 5.7px rgba(0, 0, 0, 0.009), 0px 4.7px 10.8px rgba(0, 0, 0, 0.009), 0px 9px 19.2px rgba(0, 0, 0, 0.016), 0px 18.8px 35.9px rgba(0, 0, 0, 0.034), 0px 57px 86px rgba(0, 0, 0, 0.07);
}

section.exhibitions .cards .card img {
  position: absolute;
  top: 2rem;
}

section.exhibitions .cards .card #dna {
  width: 90px;
}

section.exhibitions .cards .card #rocketScience {
  width: 50px;
  top: 0.5rem;
  -webkit-transform: rotate(30deg);
          transform: rotate(30deg);
}

section.exhibitions .cards .card #solarSystem {
  width: 150px;
  top: 0.5rem;
}

section.exhibitions .cards .card #electricity {
  width: 60px;
}

section.exhibitions .cards .card p {
  position: absolute;
  bottom: 4rem;
  font-size: 2rem;
  font-weight: 500;
  color: #575f60;
}

section.testimonials {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  position: relative;
  top: -400px;
  left: 10rem;
}

section.testimonials h3 {
  margin: 5rem;
  color: #af7a3a;
  font-size: 5rem;
}

section.testimonials .testimonial-cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 5rem;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media (max-width: 890px) {
  .toggle-button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .navbar-links {
    display: none;
    width: 100%;
  }
  .navbar {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .navbar-links ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
  }
  .navbar-links li {
    text-align: center;
  }
  .navbar-links.active {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
/*# sourceMappingURL=style.css.map */