@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700&display=swap");

:root {
  font-size: 10px;
}

$bg-color: #f4f6f9;
$text-color: #383946;
$secondary-text-color: #858696;
$negative-red: #f01d1d;
$base-blue: #3146ed;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: Manrope;
  font-size: 1.6rem;
  list-style: none;
  text-decoration: none;
}

body {
  background: $bg-color;
}

section {
  padding: clamp(1rem, 4vw, 3rem);
}

section.nav {
  margin: 1rem 0 1.8rem;
}

nav {
  display: flex;
  justify-content: space-between;
}

nav ul {
  display: flex;

  li {
    margin: 5px;
  }
}

section.main .hero {
  h1 span {
    font-size: 3.2rem;
    color: $text-color;
    display: block;
    font-weight: 700;
  }

  #text-roll {
    background-color: $base-blue;
    background-image: linear-gradient(160deg, $base-blue 0%, #12045f 100%);
    background-size: 100%;
    background-repeat: repeat;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-background-clip: text;
    background-clip: text;
    -moz-text-fill-color: transparent;
  }

  p {
    font-size: 1.8rem;
    margin: 1.1rem 0;
    color: $text-color;
    span {
      color: $base-blue;
    }
  }

  a {
    margin: 4rem 0 2rem;
    background-color: $base-blue;
    color: white;
    padding: 1.8rem;
    display: flex;
    font-size: 1.8rem;
    font-weight: 600;
    justify-content: center;
    border-radius: 0.2rem;
    align-items: center;
    position: relative;

    span {
      background-color: #2b3bbf;
      padding: 0.6rem 1rem;
      display: flex;
      align-items: center;
      justify-content: center;
      position: absolute;
      right: 1.5rem;
    }
  }

  p:last-of-type {
    text-align: center;
    font-size: 1.4rem;
    font-weight: 400;
    position: relative;
    bottom: 1rem;
  }
}

.table {
  display: flex;
  flex-direction: column;
  border: 1px solid rgba(128, 128, 128, 0.301);
  background-color: white;
  border-radius: 0.2rem;
}

.table .thead {
  display: flex;
  justify-content: space-between;
  align-items: center;
  opacity: 0.4;
  font-weight: 500;
  p {
    padding: 1rem;
  }
}

.table .tbody {
  display: flex;
  padding: 1rem;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid rgba(128, 128, 128, 0.301);
}

.table .tbody-coin {
  p {
    &:last-child {
      opacity: 0.6;
    }
  }
}

.table .tbody-info {
  text-align: right;

  .negative {
    color: red;
  }
  .positive {
    color: green;
  }
}
